extends layout

block content
  
  <p>Start Date: <input type="text" class="datepicker" id="cal1"></p>
  <p>End Date: <input type="text" class="datepicker" id="cal2"></p>
  button#submit Send

  div#months
  div#result
 
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="/javascripts/datepicker-ja.js")
  script(src="/javascripts/index.js")
  